*.pyc
*~
*.o
*.so
.nox
.DS_Store
_trial_temp
__pycache__
.pytest_cache
.ruff_cache
build
dist
dark_matter.egg-info
test/data/hbv/KJ586809.1.1.bt2
test/data/hbv/KJ586809.1.2.bt2
test/data/hbv/KJ586809.1.3.bt2
test/data/hbv/KJ586809.1.4.bt2
test/data/hbv/KJ586809.1.fasta
test/data/hbv/KJ586809.1.rev.1.bt2
test/data/hbv/KJ586809.1.rev.2.bt2
test/data/hbv/Makefile
test/data/hbv/fred.fastq
test/data/hbv/hbv-proteins.fasta
test/data/hbv/hbv-proteins.log
test/data/hbv/ids_aaaaa.gb
test/data/hbv/query1.fastq
test/data/hbv/query1.sam
test/data/hbv/query2.fastq
test/data/hbv/query2.sam
test/data/hbv/query3.fastq
test/data/hbv/query3.sam
