# We are using pypy 4.0.1 and you will need the following to install numpy
# git clone https://bitbucket.org/pypy/numpy.git
# cd numpy
# git checkout pypy-4.0.1
# pypy setup.py install
biopython==1.64
bz2file==0.98
discover==0.4.0
ipython==2.2.0
mock==1.0.1
pep8==1.5.7
pyflakes==0.8.1
pyzmq==14.3.1
reportlab==3.1.44
six==1.10.0
simplejson==3.5.3
tornado==4.0.1
MySQL-python==1.2.5
Twisted==15.5.0
# mysql-connector-python doesn't seem to install under pypy, though
# at one point I'm pretty sure I (Terry) had it installed.
# --allow-external mysql-connector-python
# mysql-connector-python==2.0.4
#
# matplotlib is no longer building for me either. Sigh.
