biopython>=1.71
bz2file>=0.98
ipython>=3.1.0
matplotlib>=1.4.3
mock>=1.0.1; python_version == '2.7'
numpy>=1.14.2
pyfaidx>=0.4.8.4
pysam>=0.14.1
pyzmq>=14.3.1
requests>=2.18.4
simplejson>=3.5.3
six>=1.11.0
pysam>=0.14.1
