biopython==1.64
bz2file==0.98
cffi>=1.0
ipython==3.1.0
matplotlib==1.4.3
--allow-external mysql-connector-python
mysql-connector-python==2.0.3
numpy==1.8.1
pyzmq==14.3.1
simplejson==3.5.3
six==1.10.0
